html, body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ✅ 추가 시작 */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  word-break: break-word;
}
/* ✅ 추가 끝 */
